/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12.03.2015, 19:21:03
    Author     : Vlad
*/

.container {
    height: 100%;
    width: 70%;
    min-width: 808px;
    position: relative;
    
    /* top: 40px; */
    
    background: white;
    
    margin: 62px auto;
    padding: 15px;
    border: 1px solid #91E8B5;
}

.content {
    padding: initial;
    margin: initial;
}

.content p{
  /* margin: 0px; */
  padding: 7px;
  font-size: 16px;
}
