/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12.03.2015, 19:14:55
    Author     : Vlad
*/

* {
    margin: 0px;
    padding: 0px;
}

body{
    /* height: 100%; */
    background: url(../imgs/background.png)
}

.clearfix{
    border: 0px;
    clear: both;
    margin: 0px;
    padding: 0px;
}

.companyName{
    height: 200px;
    width: 100%;
    display: inline-block;
    margin: 0 auto;
}

.companyName h1{

    text-align: center;
    line-height: 200px; // to justify the text
    font-family:  sans-serif;
}

.footer{
    height: 35px;
}

#pageUp{
    position: relative;
    left: -100px;
    
}
