/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13.03.2015, 11:20:49
    Author     : Vlad

.menu ul {
    list-style-type: none;
    position: relative;
    left:14px;
}

*/
nav {
    position: relative;
    left:14px;
}
nav a div{
    display: inline-block;
    width: 24%;
    height: 34px;
    line-height:  34px;

    border-radius: 10px;
    
    text-align: center;
    border: 1px solid darkseagreen;
    box-sizing: border-box;

    background-color: #91E8B5;

}
